button {
  cursor: pointer;
}

.sent-message-container,
.recd-message-container {
  width: 70%;
  margin: 2rem auto;
  border: solid 1px black;
}

.sent-message-list,
.recd-message-list {
  width: 60%;
  list-style-type: none;
  margin: 0 auto;
  padding: 1rem;
  border: solid 1px black;
}

.sent-message-list {
  max-height: 100vh;
  overflow: auto;
  margin-bottom: 20px;
}

.recd-message-list {
  max-height: 60vh;
  overflow: auto;
}

.sent-message,
.recd-message {
  padding: 10px;
}

.msg-box-container {
  padding: 1.5rem 0;
}

.msg-box-label {
  text-align: center;
}

.add-message-box {
  padding: 0px;
  margin: 0 auto;
  display: block;
}

.button-container-msg {
  display: flex;
  justify-content: flex-end;
}

.delete-button,
.edit-button {
  padding: 3px;
  margin: 0 5px;
}

.read-button,
.add-msg-button {
  display: block;
  margin: 1.5rem auto;
}
