.classmate-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  max-width: 819px;
  margin-left: 8%;

  .classmate-card {
    flex-basis: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
}

.classmate-img {
  width: 8rem;
  margin: 1rem;
  box-shadow: 4px 3px 6px -1px grey;
}
.classmate-name-list-container {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0px;
  right: 15%;

  .classmate-name-list {
    display: inline;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
  }
  .classmate-name {
    font-size: 1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
