.whole-shebang {
  display: flex;
  width: 90%;
  margin: 0 auto;

  .classmate-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    /* margin-left: 3rem; */

    .classmate-card {
      flex-basis: 14%;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }
  }

  .classmate-img {
    width: 8rem;
    margin: 1rem;
    box-shadow: 4px 3px 6px -1px grey;
  }
  .classmate-name-list-container {
    .classmate-name-list {
      list-style-type: none;
      padding: 10px;
      margin-top: 0;
    }
    .classmate-name {
      font-size: 1.5rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }
}
